<div class="desktop-icons">
        <div><a href="https://github.com/ruxpin86"><img src="/images/computericon.png" alt="desktop icon"
                    class="img-icon"></a>
            <figcaption> Ted</figcaption>
        </div>
    
        <div><a href="https://github.com/lukerenoe"><img src="/images/foldericon.png" alt="desktop icon"
                    class="img-icon"></a>
            <figcaption>Luke</figcaption>
        </div>
    
        <div><a href="https://github.com/jaryodd"><img src="/images/icon.png" alt="desktop icon"
                    class="img-icon"></a>
            <figcaption>Jaryodd</figcaption>
        </div>
    
        <div><a href="https://github.com/jjtalamonti"><img src="/images/icon2.png" alt="desktop icon"
                    class="img-icon"></a>
            <figcaption>Jason</figcaption>
        </div>
    
        <div><a href="https://github.com/andypieratt"><img src="/images/icon3.png" alt="desktop icon"
                    class="img-icon"></a>
            <figcaption>Andy</figcaption>
        </div>
    </div>
    
    <div class="container browser-frame center">
        <div id="drag-handle"></div>
        
        <main>
        <span id="chatting-with" >You're chatting with  </span>
            <div class="chat"> 
                {{!-- RENDER CHATS HERE --}}
            </div>
            <div>
                <textarea name="chat"></textarea>
            </div>
            <!-- Send button -->
            <button type="button" id="btn-send" class="btn btn-info">Send</button>
            <div class="text-center">
                
            </div>
        </main>
    
    <script src="/js/login.js"></script>
    </div>