<div class="desktop-icons">
        <div><a href="https://github.com/ruxpin86"><img src="/images/computericon.png" alt="desktop icon"
                    class="img-icon"></a>
            <figcaption> Ted</figcaption>
        </div>
    
        <div><a href="https://github.com/lukerenoe"><img src="/images/foldericon.png" alt="desktop icon"
                    class="img-icon"></a>
            <figcaption>Luke</figcaption>
        </div>
    
        <div><a href="https://github.com/jaryodd"><img src="/images/icon.png" alt="desktop icon"
                    class="img-icon"></a>
            <figcaption>Jaryodd</figcaption>
        </div>
    
        <div><a href="https://github.com/jjtalamonti"><img src="/images/icon2.png" alt="desktop icon"
                    class="img-icon"></a>
            <figcaption>Jason</figcaption>
        </div>
    
        <div><a href="https://github.com/andypieratt"><img src="/images/icon3.png" alt="desktop icon"
                    class="img-icon"></a>
            <figcaption>Andy</figcaption>
        </div>
    </div>

    <div class="container browser-frame center">
        <div id="drag-handle"></div>
        <main class="content">
            <div class="couldnt-do-this-in-the-90">
                <h1>Enter Information</h1>
            </div>

            <form id="login-form">
                {{!-- Username Input --}}
                <div>
                    <input id="username-signup" class="form-group-input" type="username" /><br>
                    <label class="form-label" for="form2Example1">Username</label>
                </div>
                <!-- Password input -->
                <div class="form-group-input">
                    <input type="password" id="password-signup" class="form-control" /><br>
                    <label class="form-label" for="form2Example2">Password</label>
                </div>
                <!-- Submit button -->
                <button type="submit" id="register-button" class="btn btn-info">Register</button>
                <div class="text-center">
                </div>

            </div>
            </form>
        </main>

        <script src="/js/register.js"></script>
    </div>